.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-GameShell {
  border: 2px solid #008080;
  border-radius: 12px;
  height: 60vh;
  width: 30vw;
  min-width: 350px;
  position: relative;
  overflow: hidden;
}

.App-FreezeStateBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 12px;
  font-size: 18px;
}


#canvas {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
  box-sizing: border-box;
}
