.IngameView-Attacked .IngameView-Targeter {
  color: red;
  transform: scale(1.5);
  opacity: 100;
}

.IngameView-Targeter {
  transition: color .5s linear, transform .5s linear, opacity .25s linear;
  display: inline-block;
}

.IngameView-Attacking .IngameView-Target {
  color: green;
  transform: scale(1.5);
  opacity: 100;
}

.IngameView-Target {
  transition: color .5s linear, transform .5s linear, opacity .25s linear;
  display: inline-block;
}
