.App-Correct .App-GameShell {
  border: 2px solid green;
}
.App-GameShell {
  transition: border .3s linear;
}

.App-Correct .App-header {
  color: green;
}
.App-header {
  transition: color .3s linear;
}

.App-Correct .IngameView-Queue-Border {
  border-top: 1px solid green;
}
.IngameView-Queue-Border {
  transition: border .3s linear;
}

.App-Correct .IngameView-WordCount {
  color: green;
  transform: scale(1.5)
}
.IngameView-WordCount {
  transition: color .3s linear, transform .3s linear;
  display: inline-block;
}
