.LobbyView-Container {
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LobbyView-Header {
  font-size: 36px;
  width: 320px;
}

.LobbyView-Waiting {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LobbyView-InputTray {
  display: flex;
}

.LobbyView-Input {
  flex: 1;
  margin-top: 24px;
  color: white;
  display: inline-block;
  font-size: 36px;
  width: 100%;
  border: 1px solid #008080;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  outline: none;
}
